/* laptop */
@media all and (min-width: 769px) {
  html {
    background-color: rgba(180, 180, 180, 0.4);
  }
  body {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: white;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 5px 5px 5px grey;
  }
}
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
header .menu,
header h3 {
  display: none;
}
header .horizontal {
  display: flex;
  height: 8vw;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 3px rgba(100, 240, 240, 0.7);
}
header .left {
  display: flex;
  justify-content: space-between;
}
header .image img {
  width: 8vw;
  align-items: center;
}
header h1 {
  width: 70vw;
  padding-left: 2%;
  overflow: fit-content;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4vw;
  font-weight: normal;
}
.sticky-tab {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 768px) {
  header {
    position: relative;
  }
}
.main {
  order: 1px;
  z-index: 1;
  position: relative;
}
.text {
  height: 12vw;
  background-color: white;
  color: rgba(125, 125, 125, 0.7);
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0%;
  left: 1px;
  right: 1px;
  font-size: 2vw;
}
.text h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.text p {
  margin-top: 3px;
  margin-bottom: 1px;
}
.trending {
  order: 2;
}
.topnews {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.2%;
  border-bottom: 2px solid rgba(125, 125, 125, 0.3);
}
.news {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: rgba(80, 80, 80, 1);
}
.more {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
  color: rgba(80, 80, 80, 1);
}
.bullet-points p {
  color: rgba(80, 80, 80, 1);
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  font-size: 1.5vw;
  padding-bottom: 1.5%;
  border-bottom: 2px solid rgba(125, 125, 125, 0.3);
}
.sports {
  order: 3;
}
.match {
  display: flex;
  justify-content: space-evenly;
  font-weight: lighter;
  color: rgba(125, 125, 125, 0.5);
  width: 100%;
  height: 30px;
  font-size: 1.5vw;
  align-items: center;
  margin-top: 1.5vw;
}
.result {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 1.5vw;
}
.date {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.teams {
  flex-grow: 2;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;
}
.team {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-right: 20px;
}
.winner {
  font-weight: bolder;
  margin-right: 20px;
}
.weather {
  order: 4;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.weather .uk {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  color: rgba(80, 80, 80, 1);
}
.weather .sunny {
  font-size: 2vw;
}
.weather .part-cloud {
  display: flex;
  font-size: 100%;
}
.part-cloud img {
  width: 18vw;
  height: 14vw;
}
.part-cloud h1 {
  align-self: flex-end;
}
.part-cloud h2 {
  align-self: flex-end;
}
.days,
.sky,
.temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.days,
.temperature {
  justify-content: space-around;
}
.temperature p {
  margin: 0;
}
.sky img {
  width: 15vw;
  height: 13vw;
}
.latestnews {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1.2vw;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(125, 125, 125, 0.3);
}
.latestnews .more {
  align-items: center;
  font-size: 1.5vw;
}
.last {
  margin-top: 35px;
  color: rgba(10, 10, 10, 0.7);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5vw;
  border-bottom: 2px solid rgba(125, 125, 125, 0.3);
}
.content {
  margin-bottom: 2%;
  border: 1px sold red;
}
.content img {
  margin-right: 1%;
  float: left;
  width: 15vw;
}
.content h4 {
  margin-top: 1px;
  margin-bottom: 3px;
}
.content p {
  margin: 0;
}
footer {
  display: flex;
  margin-left: 10px;
}
footer div {
  margin: 1.1vw 3vw;
  height: 2.2vw;
  font-size: 1.2vw;
}
/* tablet and mobile */
@media screen and (max-width: 768px) {
  .text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .text h2 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .text p {
    margin-top: 1px;
  }
  .trending {
    font-size: 2vw;
  }
  .match {
    height: 5vw;
  }
  .result {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2vw;
    height: 5vw;
  }
  .match {
    color: white;
    background-color: rgba(0, 80, 240, 0.7);
  }
  .result:nth-child(odd) {
    background-color: rgba(115, 218, 218, 0.9);
  }
}
/* tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
  }
  .main {
    width: 60%;
  }
  .weather {
    width: 38%;
    order: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 15px;
    margin-top: 0;
  }
  .weather .uk {
    font-size: 3.5vw;
  }

  .weather .sky img {
    width: 20%;
    height: 20%;
  }
  .weather .days div,
  .weather p {
    font-size: 2vw;
  }
  .trending {
    width: 100%;
    order: 3;
  }
  .topnews,
  .more,
  .latestnews .more,
  .bullet-points p,
  .last,
  footer div {
    font-size: 2vw;
  }
  .sports {
    order: 4;
  }
}
/* mobile */
@media screen and (max-width: 425px) {
  body {
    margin: 0;
  }
  .sticky-tab {
    display: none;
  }
  header h1 {
    font-size: 5vw;
    align-items: center;
  }
  header .menu {
    display: block;
  }
  .text {
    height: 70px;
  }
  .trending,
  .news,
  .more,
  .trending p,
  .latestnews,
  .last,
  .latestnews .more,
  .text,
  footer div,
  .days div,
  .temperature p {
    font-size: 12px;
  }
  .match,
  .result {
    font-size: 10px;
  }
  .weather .uk,
  .weather .sunny {
    font-size: 19px;
  }
  .part-cloud img {
    align-self: center;
    width: 100px;
    height: 75px;
  }
  .content img {
    width: 110px;
  }
}